
@model  SimplePhonebook.Models.GroupViewModel
@{
    ViewBag.Title = "Groups";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Groups</li>
    </ol>
</nav>
<div class="row pb-3">
    @using (Html.BeginForm("Search", "Group", FormMethod.Post, new { @class = "col-md-12" }))
    {
        <div class="row">
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Group.GroupName, new { @class = "form-control form-control-sm", @placeholder = "Search Group Name" })
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-sm btn-primary" id="btnSearch" value="Search" />
                <input type="button" class="btn btn-sm btn-primary" id="btnAddNew" value="Add New" />
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <table id="tblGroups" class="table table-bordered">
            <thead class="bg-info">
                <tr>
                    <th></th>
                    <td>Group Name</td>
                    <td>No. of Members</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Groups.Count > 0)
                {
                    foreach (var item in Model.Groups)
                    {
                        <tr>
                            <td><input type="checkbox" id="@item.Group.GroupId" class="checkbox-item" /></td>
                            <td><a id="@item.Group.GroupId" class="link-groupname" href="#">@item.Group.GroupName</a></td>
                            <td>@item.MembersCount</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" align="center">No records found</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right float-right">
        <input type="button" id="btnDelete" value="Delete" class="btn btn-sm btn-danger" />
    </div>
</div>
@Html.Partial("_GroupModal")
@section scripts {
    <script src="~/Scripts/group.js"></script>
    <script>
        $(document).ready(function () {
            var contextRoot = '@Url.Action(string.Empty)' + '/';
            group.init(contextRoot);
        });
    </script>
}

@section styles {
    <link href="~/Content/group.css" rel="stylesheet" />
}